body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.profile-icon{
    height: 50px;
    width: 50px;
}

.card-container{
    padding: 5px;
}

.tweet-card {
    padding: 10px;
    min-height: 75px;
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 1px;
}

.name {
    position: absolute;
    top: 10px;
    left: 70px;
}

.screen-name {
    position: absolute;
    top: 35px;
    left: 70px;
}

.like-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (min-width: 768px) {
    .message {
        margin-right: 100px;
    }
}
.retweet-button {
    position: absolute;
    bottom: 10px;
    right: 90px;
}

.badge-holder {
    position: absolute;
    left: 25px;
    bottom: 75px;
}

.timestamp {
    position: absolute;
    bottom: 5px;
}